@use '../assets/ui.scss';

body {
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@import url('../vendor/normalize.scss');
@import url('../vendor/inter.scss');

